temp.js
todos.txt
.vscode/settings.json
assets/cobblestone_03_64.png
assets/cobblestone_03.png-autosave.kra
audacity/
wav/
old/
musictest.html
index_audiodebug.html
temp2.js
styles_mobiletest.css
progress_gifs/
suunnitelma.txt
näyttöraportti.txt
