:root {
    --bg: #303030;
    --lightgrey: #444;
  }

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Minimal', 'Courier New', Courier, monospace;

    /* Prevent user text selection */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Muutama fontti joista testailla */
@font-face {
    font-family: 'Minimal';
    /* src: url('assets/fonts/Minimal3x5.ttf') format('truetype'); */
    /* src: url('assets/fonts/Minimal5x5Monospaced.ttf') format('truetype'); */
    src: url('assets/fonts/Minimal5x7.ttf') format('truetype');
}

body {
    background-color: var(--bg);
}

.text-display {
    font-size: 1.8rem;
}

.text-button {
    font-size: 1.4rem;
    margin: auto;
}

.header {
    font-size: 4rem;
}

.info-displays {
    visibility: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr 100px;
    margin: 0 auto;
    padding: 0.2em;
    max-width: 832px;
    text-align: center;
    align-items: center;
    position: relative;
}

.pvp-info-displays {
    visibility: hidden;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    padding: 0.2em;
    max-width: 832px;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 10px;
}

.pvp-spacer {
    padding-left: 125px;
    padding-right: 125px;
}

.pvp-text-display {
    font-size: 1.8rem;
}

#canvas {
    border-color: var(--lightgrey);
    border-style: solid;
}

.canvas-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.debug {
    visibility: visible;
}

.debug-buttons {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 0.5em;
    max-width: 800px;
    justify-content: space-evenly;
}

.health-points {
    position: absolute;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.hp-circle {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: white;
}

/* Play Game */
.play-game-container {
    visibility: hidden; /* TODO: Takas visibleks kun ei tartte debuggailla */
    display: flex;
    position: absolute;
    width: 832px;
    height: 832px;
    background: black;
    z-index: 999;
    justify-content: center;
    align-items: center;
}

.play-game-content {
    display: flex;
    flex-direction: column;
    color: white;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.play-game-container img {
    width: 512px;
    height: 512px;
}

.play-game-container button {
    width: 200px;
    height: 50px;
    background: black;
    color: white;
}

.play-game-container button:hover {
    background: grey;
}

#loading-text {
    visibility: hidden;
    font-size: 2rem;
    color: grey;
}

/* Main Menu */
.main-menu-container {
    visibility: hidden;
    position: absolute;
    width: 832px;
    height: 832px;
    background: black;
    z-index: 999;
}

.main-menu-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: white;
    align-content: center;
}

.main-menu-content h1 {
    color: white;
}

.main-menu-content .main-menu-button-container {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    height: 33%;
    justify-content: space-evenly;
}

.main-menu-content button {
    width: 200px;
    height: 50px;
    background: black;
    color: white;
}

.main-menu-content button:disabled {
    color: darkgray;
}

.main-menu-content button:hover {
    background: grey;
}

.main-menu-content button:disabled:hover {
    background: inherit;
}

#confirmText {
    font-size: 1.4rem;
    visibility: hidden;
    color: red;
}

/* Pause menu */
.pause-menu-container {
    visibility: hidden;
    position: absolute;
    width: 832px;
    height: 832px;
    background: black;
    z-index: 999;
}

.pause-menu-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: white;
    align-content: center;
}

.pause-menu-content h1 {
    color: white;
}

.pause-menu-content .pause-menu-button-container {
    display: flex;
    padding-top: 100px;
    width: 300px;
    justify-content: space-around;
}

.pause-menu-content button {
    width: 100px;
    height: 50px;
    background: black;
    color: white;
}

.pause-menu-content button:hover {
    background: grey;
}

/* Game Over Menu */
.game-over-container {
    visibility: hidden;
    position: absolute;
    width: 832px;
    height: 832px;
    background: black;
    z-index: 999;
}

.game-over-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: white;
    align-content: center;
}

.game-over-content h1 {
    color: white;
}

.game-over-content #game-over-score {
    padding-top: 50px;
    padding-bottom: 50px;
}

.game-over-content .game-over-button-container {
    display: flex;
    padding-top: 100px;
    width: 300px;
    justify-content: space-around;
}

.game-over-content button {
    width: 100px;
    height: 50px;
    background: black;
    color: white;
}

.game-over-content button:hover {
    background: grey;
}

/* GG Menu */
.gg-container {
    visibility: hidden;
    position: absolute;
    width: 832px;
    height: 832px;
    background: black;
    z-index: 999;
}

.gg-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: white;
    align-content: center;
}

.gg-content h1 {
    color: white;
}

.gg-content #gg-score {
    padding-top: 50px;
    padding-bottom: 50px;
}

.gg-content .game-over-button-container {
    display: flex;
    padding-top: 100px;
    width: 300px;
    justify-content: space-around;
}

.gg-content button {
    width: 100px;
    height: 50px;
    background: black;
    color: white;
}

.gg-content button:hover {
    background: grey;
}

/* How to play */
.how-to-play-container {
    visibility: hidden;
    position: absolute;
    width: 832px;
    height: 832px;
    background: black;
    z-index: 999;
}

.how-to-play-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    color: white;
    align-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    overflow-y: auto;
    font-size: 1.4rem;
}

.how-to-play-content h1 {
    color: white;
    text-decoration: underline;
    font-family: 'Minimal', 'Courier New', Courier, monospace;
}

.how-to-play-content h3 {
    color: white;
    padding-bottom: 10px;
    text-decoration: underline;
    font-family: 'Minimal', 'Courier New', Courier, monospace;
    font-size: 1.5rem;
}

.how-to-play-content li {
    font-family: 'Minimal', 'Courier New', Courier, monospace;
    font-size: 1.4rem;
    list-style: square;
}

.inner-list {
    padding-left: 20px;
    list-style: square;
}

.how-to-play-text {
    padding-left: 100px;
}

.how-to-play-content .how-to-play-button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.how-to-play-content button {
    width: 200px;
    height: 50px;
    background: black;
    color: white;
}

.how-to-play-content button:hover {
    background: grey;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: black; 
}

::-webkit-scrollbar-thumb {
    background: white; 
    border: 2px solid black;
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

/* Floor */
.floor {
    z-index: -1;
    position: absolute;
    /* TODO: tarpeeton laittaa heti alkuun taustakuvaa? */
    /* background-image: url('./assets/grass_01.png'); */
    background-color: black;
    background-repeat: repeat;
    width: 832px;
    height: 832px;
}

/* Mobile */
#mobile-overlay {
    visibility: hidden;
    position: absolute;
    z-index: 9999;
}

#portrait-prompt {
    visibility: hidden;
}

/* Portrait mode prompt */
/* TODO: 700px on vaan ikkunan koon testailuun (vähän pienempi kuin labyrintti) */
@media only screen and (orientation: portrait) and (max-width: 700px) {
    /* TODO: make sure that not scrollable */
    html, body {
        overflow: hidden;
        height: auto;
    }

    #portrait-prompt-container {
        visibility: visible;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        z-index: 9999;
    }

    #portrait-prompt {
        visibility: visible;
        color: white;
        justify-content: center;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        color: white;
        font-size: 1.2em;
    }
    
    .canvas-container {
        visibility: hidden;
    }
}

/* Mobile controls */
.mobile-controller {
    display: none;
    justify-content: space-between;
}

.mobile-controller button {
    width: 50px;
    height: 50px;
    font-size: 2em;
    size: 200px;
    background: black;
    color: white;
    border-color: #303030;
    border-radius: 10%;
    box-shadow: -1px -1px 10px rgba(200, 0, 200, 0.2);
}

.d-pad {
    margin-top: 100px;
}

#mob-dir-left {
    margin-left: -25px;
}

#mob-dir-right {
    margin-left: 50px;
}

#mob-dir-up, #mob-dir-down {
    margin-left: 25px;
}

#mob-bomb {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-top: 180px;
}

.mobile-buttons-left {
    margin-left: 50px;
    z-index: 9999;
}

#fullscreen-button {
    /* TODO: parempi ratkaisu tälle (kuuluu mobile-buttons-leftiin atm) */
    margin-left: -50px;
}

.mobile-buttons-right {
    margin-left: auto;
    margin-right: 50px;
    z-index: 9999;
}

/* TODO: tablet mode separately */
/* Widest screen emulations on firefox: */
/* iPadOS 14.7.1: 810px */
/* iPhone 12/13 Pro Max iOS 14.6: 428px */
@media only screen and (orientation: landscape) and (max-height: 428px) {
    html, body {
        height: auto;
        overflow: hidden;
    }
    
    body {
        background-color: black;
    }

    #mobile-overlay {
        visibility: visible;
    }
    
    .mobile-controller {
        display: flex;
    }

    .canvas-container {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }

    #canvas {
        border-style: solid;
        border-width: 2px;
        border-color: #303030;
    }

    .debug-buttons {
        visibility: hidden;
    }
}