* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #303030;
}

.canvas-container {
    padding: 0;
    margin: 2em auto 2em auto;
    display: block;
    width: 800px;
}

#sprite-sheet {
    display: none;
}